body{
    font-family:'Times New Roman', Times;
}
header{
    background-color:aliceblue;
    background-position:left;
    color: darkblue;
    padding: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
}

.container{
    background-image:url(https://dcs.ug.edu.gh/img/about-img2.jpeg);
    background-repeat: no-repeat;
    background-position:100%;
    background-size: cover;
    width: 100%;
    height: 180vh;
    margin: 0;
    padding:0;
    background-color:whitesmoke;
    list-style-type: none;
}
.nav{
    background: rgb(165, 110, 42);
    color:white;
    padding:3px;
    text-align: center;
}
.logo{
    flex-basis: 28%;
}
.logo img{          
    width: 250px;
    height:auto;
}

.nav a{
    padding: 0;
    text-decoration: none;
    margin: 15px;
    justify-content:space-between;
}
.nav a{
    color: #fff;
}

footer{
    background:rgb(165, 110, 42) ;
    color:white;
    text-align: center;
    padding:15px;
}

h1{
    font-size: 50px;

}
.contacts{
    text-align: left;
}

.Location{
    text-align: center;
}
.social-icons{ 
     color:blue;
     font-size: 28px;
     margin:0 10px;
    
     align-items: left;

}

.heading{
    background-color:aliceblue;
    background-position: center;
    color: darkblue;
    padding: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.about{
    width: 100%;
    height: 55vh;
    margin: 0;
    padding:0;
    background-color:rgba(128, 128, 128, 0.055);
    text-align: center;
    color:rgba(0, 0, 0, 0.799);
    font-size:medium;
}
.header1{
    background-color:aliceblue;
    background-position:left;
    color: darkblue;
    padding: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    height:35vh;
    font-weight:200 ;
}
